@using Microsoft.AspNetCore.Identity
@using OptiApp.Service
@inject SignInManager<IdentityUser> SignInManager
@inject IUserService UserService

@{
    var currentUser = await UserService.GetLoggedInUserFullName(Context);
}

<div class="form-inline my-2 my-lg-0">
    <ul class="navbar-nav mr-auto">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="nav-link text-dark" id="dropdown02" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@currentUser.FullName </a>
            </div>
            <li class="nav-link">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index","Home")" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">LOGOUT</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-link">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" >LOGIN</a>
            </li>
            <li class="nav-link">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" >REGISTER</a>
            </li>
        }
    </ul>
</div>
