
    <div style="text-align: center; margin-top: 10px;">
        <div style="background-color: lightgrey; padding: 5px; text-align: left;">
            <h2>BIFOCALS</h2>
        </div>
        
        <h1 style="margin-top: 10px;">Samnath Optometrists</h1>
        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
            <!-- Content paragraph -->
            <div style="flex: 1; text-align: left; max-width: 600px;">
                <h3>All You Need To Know Bifocals!</h3>
                <p>Bifocals are a type of eyeglasses that feature two different optical powers in one lens.</p>

                <p>The top part of a bifocal lens corrects distance vision, while a smaller portion at the bottom of the lens corrects near vision. When looking closely at bifocal lenses, you can see a line where these different viewing zones meet.</p>

                <p>Because a bifocal lens is separated into two distinct sections, you can shift your focus from far away to close-up objects or text and still see clearly.</p>

                <p>The viewing zone for near objects is at the bottom of the lens because people tend to look down when they read or do tasks that require close viewing. For example, pretend you’re reading a book, sewing by hand, or texting on your phone. Notice where your eyes focus. (Downward, right?)</p>

                <p>Bifocal eyeglasses are most often prescribed for people who have trouble seeing both close up and far away. Bifocals are an alternative to switching back and forth between prescription distance glasses and reading glasses.Let us help you find the right glasses for you.</p>
            </div>

            
            <div style="margin-top: 20px;">
                <img src="images/bifocals.jpg"  alt="Image 1" style="width: 50%; height: 50%;">
            </div>
            
            
            
 <a href="@Url.Action("Booking","Booking")" class="btn btn-primary" style="margin-top: 20px; width: 150px; height: 50px;">Book Appointment</a>
        </div>
    </div>