
    <div style="text-align: center; margin-top: 10px;">
        <div style="background-color: lightgrey; padding: 5px; text-align: left;">
            <h2>CONSULTATION</h2>
        </div>
        
        <h1 style="margin-top: 10px;">Samnath Optometrists</h1>
        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
            <!-- Content paragraph -->
            <div style="flex: 1; text-align: left; max-width: 600px;">
                <h3>All You Need To Know Consultation!</h3>
                <p>During consultation your Optometrist will ask you about your eye health and general health, and the history of your family's health. They will ask about your occupation, hobbies, and for any other information that helps them to fulfil your visual needs. If you're taking regular medication they need to know about that too..</p>

                <p>They will check the glasses you presently wear,if you wear any and talk you through good or bad points about them. They can advise you on different eye wear choices, and share this with the dispensing assistant at the end of your eye examination.</p>

                <p>Your Optometrist will check the health of your eyes inside and out! We do not touch the eye or cause you any pain or discomfort during these examinations. They will analyse the results from your pre-screening and talk through it with you. Using a series of different methods they will assess your standard of vision, and talk to you about whether you need prescription glasses.</p>

                <p>They may pick up some problems with your general health, and will tell you if you need to visit your GP for help.</p>

                <p>If any eye problems need further investigation or treatment, your Optometrist will discuss this with you, and will refer you on if they feel you need medical treatment. </p>
            </div>

             
            <div style="margin-top: 20px;">
                <img src="images/consultation.jpg" alt="Image 1" style="width: 100%; height: 100%;">
            </div>
            
            
    <a href="@Url.Action("Booking","Booking")" class="btn btn-primary" style="margin-top: 20px; width: 150px; height: 50px;">Book Appointment</a>
        </div>
         
    </div>