<div style="text-align: center; margin-top: 10px;">
    <div style="background-color: lightgrey; padding: 5px; text-align: left;">
        <h2>EYE TESTS</h2>
    </div>

    <h1 style="margin-top: 10px;">Samnath Optometrists</h1>
    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
        <!-- Content paragraph -->
        <div style="flex: 1; text-align: left; max-width: 600px;">
            <h3>All You Need To Know About Eye Tests!</h3>
            <p>An eye test is an appointment that consists of a series of optical tests in order to establish the health of your eyes.</p>

            <p>These routine tests include examining your pupil function, refraction and measuring your eye’s ability to see in-focus images at a set distance. The eye exam is useful for checking whether your vision has deteriorated, ensuring you have the correct prescription and for diagnosing any conditions such as myopia and hyperopia.</p>

            <p>An eye test is useful to detect a number of eye conditions – many of which can worsen if left uncorrected. Myopia, hyperopia, presbyopia, diplopia and astigmatism are all examples of eye conditions that can be diagnosed by your optician at an eye test.</p>

            <p>Typically your eye test will take around 20-30 minutes to conduct. If you choose to order a pair of glasses at the time of your test, then this may take longer as you choose your frame and order the prescription.</p>

            <p>We are still taking bookings for eye exams, so if you think you have an urgent issue or would like to prebook your exam for a future date, then get in touch with our expert today!</p>
        </div>

        <!-- Image -->
        <div style="margin-top: 20px;">
            <img src="images/eyetests.jpg" alt="Image 1" style="width: 90%; height: 85%;">
        </div>

        <!-- Button -->
        <a href="@Url.Action("Booking","Booking")" class="btn btn-primary" style="margin-top: 20px; width: 150px; height: 50px;">Book Appointment</a>
    </div>
</div>