
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
    <div style="text-align: center; margin-top: 10px;">
        <div style="background-color: lightgrey; padding: 5px; text-align: left;">
            <h2>SINGLE VISION</h2>
        </div>
        
        <h1 style="margin-top: 10px;">Samnath Optometrists</h1>
        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
            <!-- Content paragraph -->
            <div style="flex: 1; text-align: left; max-width: 600px;">
                <h3>All You Need To Know About Single Vision!</h3>
                <p>Single-vision lenses correct for one type of vision. It’s the most common type of glasses lens prescribed.</p>

                <p>Prescription glasses wearers over age 40 commonly experience age-related changes in their vision that require multifocal lenses. But people under 40 can also need multifocal lenses for multiple types of vision. </p>

                <p>Both sets of people can opt for either having the multifocal lenses or having two or more pairs of single-vision glasses to correct more than one type of vision.</p>

                <p>Single-vision lenses tend to cost less than other types of lenses (like progressives, for instance). But the exact price you’ll pay for glasses fitted with single-vision lenses will vary with the prescription, lens material, features, such as lens coatings, and other lens options. </p>

                <p>Our expert optometrists can help determine if single-vision prescription lenses—or another kind—are right for you.</p>
            </div>

            
            <div style="margin-top: 20px;">
                <img src="images/singleV.jpg" alt="Image 1" style="width: 50%; height: 50%;">
            </div>
            
            
  <a href="@Url.Action("Booking","Booking")" class="btn btn-primary" style="margin-top: 20px; width: 150px; height: 50px;">Book Appointment</a>
        </div>
    </div>